<section>
	<label for="adjective1">Adjective:</label>
	<input id="adjective1" type="text" ng-model="adjective1"></br>
	<label for="verb1">Verb ending in "ED":</label>
	<input id="verb1" type="text" ng-model="verb1"></br>
	<label for="noun1">Noun (Plural):</label>
	<input id="noun1" type="text" ng-model="noun1"></br>
	<label>Liquid:</label>
	<input type="text" ng-model="liquid"></br>
	<label>Noun (Plural):</label>
	<input type="text" ng-model="noun2"></br>
	<label>Famous Person:</label>
	<input type="text" ng-model="person"></br>
	<label>Place:</label>
	<input type="text" ng-model="place"></br>
	<label>Occupation:</label>
	<input type="text" ng-model="occupation"></br>
	<label>Noun:</label>
	<input type="text" ng-model="noun3"></br>
	<label>Nationality:</label>
	<input type="text" ng-model="nationality"></br>
	<label>Female Celebrity:</label>
	<input type="text" ng-model="female"></br>
	<label>Noun:</label>
	<input type="text" ng-model="noun4"></br>
	<label>Female Friend:</label>
	<input type="text" ng-model="friend"></br>
	<label>Noun (Plural):</label>
	<input type="text" ng-model="noun5"></br>
	<label>Number:</label>
	<input type="number" ng-model="number"></br>
	<label>Adjective:</label>
	<input type="text" ng-model="adjective2"></br>
	<button type="button"><a href="#/output"  ng-click="addValues()">Go Mad!</a></button>
</section>